{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container content">
        <h2 class="text-center">Добро пожаловать в Невконтакте!</h2>
        <div class="text-center">
            <img src="{% static 'img/network.png' %}">
            <br>
            <br>
            <br>
            <a href="{% url 'login' %}" class="btn btn-info">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
        </div>
    </div>
{% endblock %}
