<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #9fcdff;">
    <a class="navbar-brand" href="/">Невконтакте</a>
    <form class="form-inline mr-auto">
        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Поиск людей" aria-label="Search">
        <button class="btn btn-sm btn-outline-primary my-2 my-sm-0">Поиск</button>
    </form>
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
        {% endif %}
    </ul>
</nav>
